@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

:root {
  --base-color: #1d2d44;
  --sub-base-color: #3e5c76;
  --sub-color: #0d1321;
  --text-color: #f0ebd8;
  --base-p-fs: calc(0.8rem + 0.7vw);
  --base-h1-fs: calc(2rem + 2vw);
  --base-h2-fs: calc(1.4rem + 1.2vw);
  --base-h3-fs: calc(1.2rem + 1vw);
  --base-h1-ff: "Secular One", sans-serif;
  --base-h2-ff: "Assistant", sans-serif;
  --base-p-ff: "Volkhov", sans-serif;
  --logo-width: max(35px, 30%);
  --base-paragraph-ff: "Nanum Myeongjo", sans-serif;
  --base-margin: 0.2em 0.6em;
  --base-padding: 0.4em 0.6em;
  --box-shadow: 5px 10px 30px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* PAGE LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition:
    opacity 0.75s,
    visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--text-color);
  border-top-color: var(--sub-base-color);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#general-weather-container {
  height: 65%;
  width: 70%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: var(--sub-base-color);
  border-radius: 0.5em;
}

/* LEFT WEATHER INFO */

.left-weather-info {
  border: 3px solid var(--text-color);
  border-radius: 0.5em;
}

.location-info {
  display: flex;
  justify-content: space-between;
}

.location-area {
  line-height: 1;
  padding: var(--base-padding);
}

.location-region-txt {
  font-size: var(--base-h1-fs);
  font-family: var(--base-h1-ff);
  color: var(--text-color);
}

.location-area-txt {
  font-size: var(--base-h2-fs);
  font-family: var(--base-h2-ff);
}

.location-country-txt {
  font-size: var(--base-h3-fs);
  font-family: var(--base-h2-ff);
}

.location-time {
  padding: var(--base-padding);
  color: var(--text-color);
}

.location-time-txt {
  font-family: var(--base-p-ff);
  font-size: calc(0.7rem + 0.6vw);
}

.temp-container {
  height: 10%;
  display: grid;
  justify-items: center;
  margin-top: 7%;
}

.temperature-info {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.temperature-info .temp-c,
.temperature-info .temp-f {
  border: 1px solid var(--text-color);
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: var(--base-padding);
}

.celsius-icon,
.f-icon {
  width: max(20px, 15%);
  filter: invert(88%) sepia(29%) saturate(142%) hue-rotate(350deg)
    brightness(106%) contrast(88%);
}

.celsius-txt,
.f-txt {
  font-family: var(--base-p-ff);
  font-size: var(--base-p-fs);
}

.location-weather-data {
  height: 15%;
  margin-top: 6%;
  display: grid;
  justify-items: center;
}

.location-weather {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-txt {
  font-size: calc(1.6rem + 1.5vw);
  font-family: var(--base-h2-ff);
  color: var(--text-color);
}

.weather-icon-big {
  width: max(5px, 13%);
  justify-items: flex-start;
  filter: invert(88%) sepia(29%) saturate(142%) hue-rotate(350deg)
    brightness(106%) contrast(88%);
}

.location-prediction-container {
  margin-top: 3%;
  margin-bottom: 2%;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.prediction-container-1,
.prediction-container-2,
.prediction-container-3,
.prediction-container-4 {
  border: 1.5px solid var(--text-color);
  border-radius: 0.5em;
  width: 20%;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.prediction-time-1,
.prediction-time-2,
.prediction-time-3,
.prediction-time-4 {
  font-size: calc(1.1rem + 0.8vw);
  font-family: "Aleo";
  color: var(--text-color);
}

.prediction-location-1 {
  font-size: calc(0.8rem + 0.7vw);
  font-family: "Aleo";
}

.prediction-weather-1,
.prediction-weather-2,
.prediction-weather-3,
.prediction-weather-4 {
  font-size: calc(0.6rem + 0.5vw);
  font-family: var(--base-h1-ff);
  color: var(--text-color);
}

/* RIGHT WEATHER INFO */

.weather-input-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 7%;
  padding: var(--base-padding);
}

#city-value {
  height: 80%;
  border-radius: 0.5em;
  border: none;
  outline: none;
  appearance: none;
  font-size: calc(0.5rem + 0.5vw);
}

#city-value:focus:invalid {
  outline: 1px solid red;
  background-color: pink;
}

.city-submit-btn {
  padding: 0.4em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--base-color);
  color: var(--text-color);
  cursor: pointer;
}

.city-submit-btn:hover {
  scale: 1.1;
}

.error-messsage {
  margin-top: 3%;
  display: grid;
  justify-items: center;
  color: red;
}

.error-txt {
  font-size: var(--base-p-fs);
}

.wind-humidity-container {
  height: 10%;
  margin-top: 8%;
  display: flex;
  justify-content: space-evenly;
}

.wind-container,
.humidity-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.weather-icon {
  width: var(--logo-width);
  filter: invert(88%) sepia(29%) saturate(142%) hue-rotate(350deg)
    brightness(106%) contrast(88%);
}

.wind-info-txt,
.humidity-info-txt {
  font-family: var(--base-p-ff);
  font-size: var(--base-p-fs);
}

.weather-specifics-container {
  height: 30%;
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: var(--base-padding);
}

.weather-specifics {
  border: 1px solid var(--text-color);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.weather-specifics > p {
  font-family: var(--base-p-ff);
  font-size: calc(0.7rem + 0.6vw);
}

.sun-details-container {
  padding: var(--base-padding);
  margin-top: 5%;
  height: 7%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.sun-details-container > div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: calc(0.7rem + 0.6vw);
  font-family: var(--base-p-ff);
  color: var(--text-color);
}

.sunrise-value,
.sunset-value,
.moon-phase-value {
  font-size: calc(0.5rem + 0.5vw);
  color: var(--sub-color);
}

.moon-phase-container {
  margin-top: 5%;
  padding: var(--base-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: calc(0.7rem + 0.6vw);
  font-family: var(--base-p-ff);
  color: var(--text-color);
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 8px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.social-icons-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-name {
  color: var(--text-color);
  font-size: calc(0.8rem + 0.7vw);
}

.footer-icons-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.github-img,
.twitter-img {
  width: max(35px, 15%);
  cursor: pointer;
}

.github-img:hover,
.twitter-img:hover {
  scale: 1.1;
}
